body{
  font-family: 'Germania One', cursive;
  background-color: rgb(129, 255, 129);
}

h1{
 font-size: 36px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

p{
 font-size: 18px;
 color: darkgrey;
}

.column_lime{
  background-color: rgb(129, 255, 129);
}

.column_white{
  background-color: white;
}


.card {
  margin: 10px;
  padding: 20px;
  float: left;
  width: 300px;
  height: 400px;
}


.thumbnailImage {
  weight: 200px;
  height: 300px;
}


.modal-content{
  padding: 5%;
  border:none;
}

.instruction_list{
  color: darkgray;
}

/* Style for the search box */
#jumbotron_heading {
  background-color: cyan;
  color: salmon;
  margin-bottom: 0px;
}
/* Style for the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style for the search bar navigation menu */
  #ingredMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style for the search bar navigation links */
  #ingredMenu li a {
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  #ingredMenu li a:hover {
    background-color: #eee;
  }

  /* Style for the buttons */
  #ingredButton {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom:20px;
  }