h1{
 font-size: 36px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 20px;
}


p{
  font-size: 12px;
}


.card {
  margin: 20px auto;
  padding: 10%;
  width: 100%;
}

.modal-content{
  padding: 5%;
}


/* Style for the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style for the search bar navigation menu */
  #ingredMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style for the search bar navigation links */
  #ingredMenu li a {
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  #ingredMenu li a:hover {
    background-color: #eee;
  }

  
  /* Style for the buttons */
  #ingredButton {
    margin: 6px;
  }